@{

}

<style>

    #logoNav {
        height: 35px;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.98) !important;
    }

        .navbar a {
            color: rgba(255, 255, 255, 0.9) !important;
            font-family: "Montserrat", sans-serif;
            font-size: 0.6875rem;
            font-weight: 600;
            letter-spacing: 0.09375rem;
            position: relative;
            text-transform: uppercase;
        }

        .navbar ul li {
            display: flex;
            align-items: center;
        }

        .navbar .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1) !important;
        }

    .dropdown-menu {
        background-color: black !important;
    }

        .dropdown-menu .nav-link {
            color: white !important;
        }

    .footer {
        background-color: rgba(0, 0, 0, 0.98) !important;
        font-family: "Montserrat", sans-serif;
        font-size: 0.6875rem;
        font-weight: 600;
        letter-spacing: 0.09375rem;
        position: relative;
        text-transform: uppercase;
    }

        .footer a {
            color: rgba(255, 255, 255, 0.9) !important;
        }

        .footer b {
            color: rgba(255, 255, 255, 0.9) !important;
        }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Janus Automation</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Management" asp-action="Monitoring"><b><img id="logoNav" src="/imgs/janus-logo-nav-pb.png" /></b></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Management" asp-action="Monitoring"><i class="fa fa-solid fa-desktop"></i> Monitoring</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Management" asp-action="Calibration"><i class="fa fa-solid fa-desktop"></i> Calibration</a>
                        </li>

                        <li>
                            <a class="nav-link " asp-area="" asp-controller="Management" asp-action="TagList"><i class="fa fa-solid fa-list"></i> Tag Setting</a>
                        </li>
                        <li>
                            <a class="nav-link " asp-area="" asp-controller="Management" asp-action="PlcSettings"><i class="fa fa-solid fa-gears"></i> Plc Setting</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login" title="Login user">Login</a>
                        </li>
                     @*    <li class="nav-item">
                            <a class="nav-link btn btn-link text-dark rounded-circle" asp-area="" asp-controller="User" asp-action="Logout" title="Logout">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg>
                            </a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pb-2 mb-5">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="d-flex justify-content-center">
                <div class="alert alert-success text-center" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            </div>
            TempData["SuccessMessage"] = null;
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="d-flex justify-content-center">
                <div class="alert alert-danger text-center" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            </div>
            TempData["ErrorMessage"] = null;
        }
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted  text-center">
        <div class="container">
            <b>&copy; @DateTime.Now.Year - JANUS AUTOMATION. ALL RIGHTS RESERVED.</b>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    function closeModal() {
        $('#detailsModal').modal('hide');
    }

    setTimeout(function () {
        document.querySelectorAll('.alert').forEach(alert => alert.remove());
    }, 10000);
</script>