@model List<Application.ViewModels.vmPlc>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Plc Communication";
}
<style>
    .edit-value {
        width: 100px;
    }

    .save-button {
        margin: 0;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        margin-bottom: 10px;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        display: ruby-text;
        width: auto;
    }

    .dataTables_wrapper .dataTables_info {
        margin-top: 10px;
    }

    .card-header {
        background-color: gray;
        color: #fff;
    }

</style>

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h2>PLC Communication</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">

                <div class="col-md-6">
                    <h2>Plc's</h2>
                </div>
                <div class="col-md-6 text-end">
                    <button class="btn btn-outline-secondary add-button">Add tag</button>
                    <a href="#" class=" spinner-border spinner-border-sm update-values" title="Update all tag values" role="button">
                        <span class="visually-hidden">Loading...</span>
                    </a>

                    @* <button class="btn btn-warning update-values">Update</button> *@

                </div>
            </div>

            @if (Model.Count > 0)
            {
                <table id="plcTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th hidden>Id</th>
                            <th hidden>Address</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Last Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var plc in Model)
                        {
                            <tr>
                                <td hidden>@plc.Id</td>
                                <td hidden>@plc.AddressPlc</td>
                                <td width="53%">@plc.Name</td>
                                <td width="7%">@plc.Type</td>
                                <td width="15%">
                                    @{
                                        if (plc.Type == "bool")
                                        {
                                            if (plc.Value.Equals("true"))
                                            {
                                                <input type="number" class="form-control edit-value" min="0" max="1" step="1" onkeydown="return false;" data-type="bool" value="1" />
                                            }
                                            else
                                            {
                                                <input type="number" class="form-control edit-value" min="0" max="1" step="1" onkeydown="return false;" data-type="bool" value="0" />
                                            }
                                        }
                                        else if (plc.Type.Equals("int") || plc.Type.Equals("double"))
                                        {
                                            <input type="number" class="form-control edit-value" min="0" max="9999999" step="1" onkeydown="return true;" data-type="number" value="@plc.Value" />
                                        }

                                    }
                                </td>
                                <td width="25%">
                                    <button class="btn btn-warning set-value-button">Set value</button>
                                    <button class="btn btn-secondary details-button">Edit plc</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row">
                    <p>Not Found Tags</p>
                    <button class="btn btn-primary add-button">Add tag</button>
                </div>
            }

            <div class="modal" id="detailsModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between">
                            <h5 class="modal-title">Tag</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" onclick="closeModal()" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!---->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.update-values').on('click', function () {
                try {
                    var listAddress = [];

                    $('#plcTable tbody tr').each(function () {
                        var id = $(this).find('td:first').text().trim();
                        var address = $(this).find('td:nth-child(2)').text().trim();

                        listAddress.push(address);
                    });

                    console.warn(listAddress);

                    $.ajax({
                        url: '@Url.Action("GetValueFromPlc")',
                        type: 'POST',
                        data: {
                            address: listAddress
                        },
                        success: function (response) {
                            updateTableValues(data);
                        },
                        error: function (xhr, status, error) {

                        }
                    });

                } catch (error) {
                    console.error('Error fetching PLC values:', error)
                }
            });

            function updateTableValues(data) {
                $('#plcTable tbody tr').each(function () {
                    var id = $(this).find('td:first').text().trim();
                    var address = $(this).find('td:nth-child(2)').text().trim();

                    var plc = data.find(x => x.Id == id && x.AddressPlc == address);
                    if (plc) {
                        $(this).find('td:nth-child(5)').html(plc.Value);
                    }
                });
            }

            var table = new DataTable('#plcTable', {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json",
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                },
                "order": [[0, 'desc']],
                "fixedHeader": true,
                "pageLength": 10,
                "responsive": true
            });

            $('.set-value-button').on('click', function () {
                var row = $(this).closest('tr');
                var id = row.find('td:eq(0)').text();
                var type = row.find('td:eq(2)').text();
                var value = row.find('.edit-value').val();

                if (type === "bool") {
                    value = value === "1";
                }

                var list = [{
                    Id: id,
                    Type: type,
                    Value: value
                }]

                $.ajax({
                    url: '@Url.Action("SetValueToPlc")',
                    type: 'POST',
                    data: {
                        vmWrite: list
                    },
                    success: function (response) {
                        window.location.href = '@Url.Action("TagList", "Management")';
                    },
                    error: function (xhr, status, error) {
                        window.location.href = '@Url.Action("TagList", "Management")';
                    }
                });
            });

            $('.details-button').on('click', function () {
                var row = $(this).closest('tr');
                var id = row.find('td:eq(0)').text();

                $.ajax({
                    url: '@Url.Action("DetailTagInList")',
                    type: 'GET',
                    data: {
                        idTag: id
                    },
                    success: function (response) {
                        $('#detailsModal .modal-body').html(response);

                        $('#detailsModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        alert('Error');
                    }
                });
            });

            $('.add-button').on('click', function () {
                $.ajax({
                    url: '@Url.Action("AddTagInList")',
                    type: 'GET',
                    success: function (response) {
                        $('#detailsModal .modal-body').html(response);

                        $('#detailsModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        alert('Error');
                    }
                });
            });
        });
    </script>
}
